In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import datetime
import os
import matplotlib.pyplot as plt
import regex
import re

In [2]:
R_data=pd.read_csv("D:/HL/input_text_extraction.csv")

In [3]:
Dict=pd.read_csv("D:/HL/Keywords_v2.csv",encoding = "ISO-8859-1")

In [ ]:
Dict.shape

In [4]:
Dict=Dict.drop_duplicates()

In [ ]:
R_data.head()

In [ ]:
# R_data[R_data['customer business'].isnull()]

In [ ]:
# R_data['business'] = R_data['Business Details'].str.cat(R_data['Business Profile'], sep =" ") 
# R_data['customer business']=R_data['business'].str.cat(R_data['Personal Details'], sep =" ")

In [5]:
### CONVERTING TO LOWER CASE
Dict['Key Words']=Dict['Key Words'].str.lower()

In [6]:
### Removing Punctuation
Dict['Key Words'] = Dict['Key Words'].str.replace('[^\w\s]','')
Dict['Key Words'].head()

0    manufacturing
1          trading
2             shop
3             milk
4           retail
Name: Key Words, dtype: object

In [7]:
### REMOVING UNWANTED SPACE
Dict['Key Words'] = Dict['Key Words'].replace('\s+', ' ', regex=True)
Dict['Key Words'].head()

0    manufacturing
1          trading
2             shop
3             milk
4           retail
Name: Key Words, dtype: object

In [8]:
### REMOVING UNWANTED SPACE
Dict['Key Words'] = Dict['Key Words'].replace('\s+', ' ', regex=True)
Dict['Key Words'].head()

0    manufacturing
1          trading
2             shop
3             milk
4           retail
Name: Key Words, dtype: object

In [10]:
L_Dict=Dict['Key Words'].tolist()

In [ ]:
L_Dict

In [11]:
### CONVERTING TO LOWER CASE
R_data['customer business']=R_data['customer business'].str.lower()

In [12]:
### Removing Punctuation
R_data['customer business'] = R_data['customer business'].str.replace('[^\w\s]','')
R_data['customer business'].head()

0    applicant mr satyajeet kundra isinto business ...
1    applicant mr shyam sunder tailor is doing the ...
2    applicant  mr dharmender kumar is proprietor o...
3    applicant is the native of madurai he is exarm...
4    applicant mr kedar sharma is having the good a...
Name: customer business, dtype: object

In [13]:
### REMOVING UNWANTED SPACE
R_data['customer business'] = R_data['customer business'].replace('\s+', ' ', regex=True)
R_data['customer business'].head()

0    applicant mr satyajeet kundra isinto business ...
1    applicant mr shyam sunder tailor is doing the ...
2    applicant mr dharmender kumar is proprietor of...
3    applicant is the native of madurai he is exarm...
4    applicant mr kedar sharma is having the good a...
Name: customer business, dtype: object

In [14]:
R_data['customer business']=R_data['customer business'].astype(str)

In [15]:
#### lemmatization
# from textblob import Word
# R_data['customer business'] = R_data['business'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
# R_data['customer business'].head()

In [16]:
# raw_data=str(R_data['customer business'])
# raw_data

In [17]:
# R_data=R_data.dropna(subset=['Critical Observation']) 
# R_data.shape

In [18]:
# s=R_data[['Lead.ID','customer business keywords','customer business']]
# s.to_csv('D:/HL/identifying_customer_business.csv',index=False)

In [19]:
# R_data[R_data['Critical Observation'].apply(lambda x: x in Dict['Key Words']).tolist()]

In [20]:
# f = lambda x: len(x['Key Words'].split(['Critical Observation'])) -1
# R_data['Critical Observation'] = R_data.apply(f, axis=1)

In [21]:
# df = R_data[R_data["Critical Observation"].str.contains("sign")]

In [22]:
# R_data['customer business']=R_data['customer business'].astype(str)

In [23]:
# vv=re.split('(.*).coapplicant.(.*)',R_data['customer business'][23])
# vv

In [24]:
cols = 'applicant coapplicant'.split()
R_data[cols]=R_data['customer business'].str.extract('(.*).(coapplicant..*)', expand=True)

In [26]:
R_data.head()

,Lead.ID,customer business,applicant,coapplicant
0,e13c5efb-9fde-47b5-a,applicant mr satyajeet kundra isinto business ...,NaN,NaN
1,4bcfe6cc-c61a-4737-b,applicant mr shyam sunder tailor is doing the ...,applicant mr shyam sunder tailor is doing the ...,coapplicant mrs sunita tailor is the spouse of...
2,f19fb34d-da9b-4761-9,applicant mr dharmender kumar is proprietor of...,NaN,NaN
3,7b01275b-78e4-4c6d-a,applicant is the native of madurai he is exarm...,applicant is the native of madurai he is exarm...,coapplicant mrs m meenakshi aged 41 yrs they a...
4,aafb6f26-3f27-4940-a,applicant mr kedar sharma is having the good a...,NaN,NaN

In [27]:
R_data['applicant']=np.where(R_data['applicant'].isnull(), R_data['customer business'],R_data['applicant'])

In [28]:
R_data['applicant']=R_data['applicant'].astype(str)

In [ ]:
# matches = regex.findall(pattern,y, regex.IGNORECASE)
# matches = set(map(str.lower, regex.findall(pattern, y, regex.IGNORECASE)))

In [29]:
data=[]
pattern = r'\b({})\b'.format('|'.join(map(regex.escape, L_Dict)))
# unique matches, lowercased
for y in  R_data['applicant']:
#         print(y)
        matches = regex.findall(pattern,y, regex.IGNORECASE)
#         temp = [x.upper() for x in L_Dict if x.lower() in matches]
#         print(temp)  # ['TEST', 'MULTIPLE', 'MATCH']
        
        data.append(matches)
print(len(data))
R_data['Applicant business']=data

27423

In [30]:

R_data['coapplicant']=R_data['coapplicant'].astype(str)

In [31]:
data=[]
pattern = r'\b({})\b'.format('|'.join(map(regex.escape, L_Dict)))
# unique matches, lowercased
for y in  R_data['coapplicant']:
#         print(y)
        matches = regex.findall(pattern,y, regex.IGNORECASE)
#         temp = [x.upper() for x in L_Dict if x.lower() in matches]
#         print(temp)  # ['TEST', 'MULTIPLE', 'MATCH']
        
        data.append(matches)
print(len(data))
R_data['Co_applicant_business']=data

27423

In [41]:
R_data.head()

,Lead.ID,customer business,applicant,coapplicant,Applicant business,Co_applicant_business,First_business,Second_business,First_business_2
0,e13c5efb-9fde-47b5-a,applicant mr satyajeet kundra isinto business ...,applicant mr satyajeet kundra isinto business ...,nan,"[call, technologies, rented, industrial, call,...",[],"[call, technologies, rented]","[industrial, call, technologies, rented, indus...",call technologies rented
1,4bcfe6cc-c61a-4737-b,applicant mr shyam sunder tailor is doing the ...,applicant mr shyam sunder tailor is doing the ...,coapplicant mrs sunita tailor is the spouse of...,"[tailor, job, stitching, dress, material, desi...",[tailor],"[tailor, job, stitching]","[dress, material, designer, job, salaried, sal...",tailor job stitching
2,f19fb34d-da9b-4761-9,applicant mr dharmender kumar is proprietor of...,applicant mr dharmender kumar is proprietor of...,nan,"[manpower, supply, government, salary, manpowe...",[],"[manpower, supply, government]","[salary, manpower, supply, government, salary,...",manpower supply government
3,7b01275b-78e4-4c6d-a,applicant is the native of madurai he is exarm...,applicant is the native of madurai he is exarm...,coapplicant mrs m meenakshi aged 41 yrs they a...,"[retired, army, service, army, travel, vehicle...",[kovil],"[retired, army, service]","[army, travel, vehicles, salaried, security, t...",retired army service
4,aafb6f26-3f27-4940-a,applicant mr kedar sharma is having the good a...,applicant mr kedar sharma is having the good a...,nan,"[rental, rental, rented, educational, institut...",[],"[rental, rental, rented]","[educational, institute, rental, rental, renta...",rental rental rented

In [33]:
b1=[]
b2=[]
for y in  R_data['Applicant business']:
    first=' '.join(y)
    splitted = first.split()
    b1_split=splitted[:3]
    b2_split=splitted[3:]
    b1.append(b1_split)
    b2.append(b2_split)
print(len(data))
R_data['First_business']=b1
R_data['Second_business']=b2

27423

In [44]:
d2

['agent',
 'hr consulting',
 'construction',
 'electrical & electronic',
 'agri based business',
 'astrologer',
 'auto driver',
 'auto sparepart',
 'textile manufacturing',
 'beauty parlor',
 'plumbing',
 'labour contractor',
 'hospital',
 'manufacturing \x96 other',
 'cable contract',
 'carpenter',
 'tea stall',
 'catering/canteen/tiffin',
 'hotel/boarding/lodging',
 'textile trading',
 'centring',
 'chicken/mutton/beef shop',
 'cotton',
 'cracker business',
 'milk',
 'designer shop',
 'diamond/jewelry',
 'doctor',
 'driving school',
 'embroidery job work',
 'fabrication business',
 'chits',
 'fmcg distributor',
 'fruit shop',
 'job work',
 'trader',
 'furniture',
 'garage',
 'it',
 'professional',
 'salaried',
 'transport/travels',
 'painting contractor',
 'lathe work',
 'leather',
 'mandi - other',
 'medical store',
 'multi services',
 'musician',
 'teacher',
 'pan shop',
 'photo studio',
 'xerox/printing',
 'provision store',
 'rice trading',
 'salaried- petrol bunk',
 'sports/gym',
 'stamp vendor',
 'steel work',
 'tailoring',
 'tuition center',
 'chilli trader',
 'transport driver',
 'vegetable',
 'transport',
 'travels',
 'driver',
 'tailor ',
 'manpower supply']

In [35]:
d2= pd.read_csv("D:/HL/business_kw.csv",encoding = "ISO-8859-1")

In [36]:
d2['Profile']=d2['Profile'].str.lower()

In [37]:
d2=d2.drop_duplicates()

In [38]:
b3=[]
for y in  R_data['First_business']:
    business=' '.join(y)
    b3.append(business)
R_data['First_business_2']=b3

In [42]:
data=[]
pattern = r'\b({})\b'.format('|'.join(map(regex.escape, d2)))
# unique matches, lowercased
for y in  R_data['First_business_2']:
#         print(y)
        matches = regex.findall(pattern,y, regex.IGNORECASE)
#         temp = [x.upper() for x in L_Dict if x.lower() in matches]
#         print(temp)  # ['TEST', 'MULTIPLE', 'MATCH']
        
        data.append(matches)
print(len(data))
R_data['Identified_business']=data

27423

In [43]:
R_data.head()

,Lead.ID,customer business,applicant,coapplicant,Applicant business,Co_applicant_business,First_business,Second_business,First_business_2,Identified_business
0,e13c5efb-9fde-47b5-a,applicant mr satyajeet kundra isinto business ...,applicant mr satyajeet kundra isinto business ...,nan,"[call, technologies, rented, industrial, call,...",[],"[call, technologies, rented]","[industrial, call, technologies, rented, indus...",call technologies rented,[]
1,4bcfe6cc-c61a-4737-b,applicant mr shyam sunder tailor is doing the ...,applicant mr shyam sunder tailor is doing the ...,coapplicant mrs sunita tailor is the spouse of...,"[tailor, job, stitching, dress, material, desi...",[tailor],"[tailor, job, stitching]","[dress, material, designer, job, salaried, sal...",tailor job stitching,[tailor ]
2,f19fb34d-da9b-4761-9,applicant mr dharmender kumar is proprietor of...,applicant mr dharmender kumar is proprietor of...,nan,"[manpower, supply, government, salary, manpowe...",[],"[manpower, supply, government]","[salary, manpower, supply, government, salary,...",manpower supply government,[manpower supply]
3,7b01275b-78e4-4c6d-a,applicant is the native of madurai he is exarm...,applicant is the native of madurai he is exarm...,coapplicant mrs m meenakshi aged 41 yrs they a...,"[retired, army, service, army, travel, vehicle...",[kovil],"[retired, army, service]","[army, travel, vehicles, salaried, security, t...",retired army service,[]
4,aafb6f26-3f27-4940-a,applicant mr kedar sharma is having the good a...,applicant mr kedar sharma is having the good a...,nan,"[rental, rental, rented, educational, institut...",[],"[rental, rental, rented]","[educational, institute, rental, rental, renta...",rental rental rented,[]

In [ ]:
R_data.to_csv('D:/HL/Applicant_coapplicant_business_information22.csv',index=False)